@{
    ViewData["Title"] = "Home Page";

}

<div id="app">
    @* <i-button v-on:click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to ViewUI</Modal>
    <i-button type="primary">Primary Button</i-button> *@
</div>

<script src="~/js/home/index.js"></script>

